<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/public/css/style.css">
  <title>Portfólio do Matheus</title>
</head>
<body>
  <main class="conteiner-principal">
    <header class="conteiner-header">
      <div class="container-header-nome">
        <h2 class="header-nome">Matheus</h2>
      </div>
      <div class="header-navegacao">
        <nav class="navegacao">
          <a class="nevegacao-item" href="#conteiner-sobre">Sobre</a>
          <a class="nevegacao-item" href="#conteiner-projetos">Projetos</a>
          <a class="nevegacao-item" href="#conteiner-contatos">Contatos</a>
        </nav>
      </div>
    </header>
    <section class="conteiner-titulo">
      <div class="titulo-principal">
        <h1 class="titulo">Full-Stack Web Developer </h1>
      </div>
    </section>
    <section id="conteiner-sobre">
      <h1 class="titulo-sobre">Sobre</h1>
      <div class="sobre-informacoes">
        <p class="primeiro-informacoes">
          Olá, me chamo Matheus e sou desenvolvedor Full-Stack VueJS/NodeJS.
        </p>
        <p class="segundo-informacoes">
          Sou acadêmico de Análise e Desenvimento de Sistemas.
        </p>
        <p class="terceiro-informacoes">
          Tenho 24 anos de idade e sou de Imperatriz, Maranhão.
        </p>
      </div>
    </section>
    <section id="conteiner-projetos">
      <h1 class="titulo-projetos">Projetos</h1>
      <div class="projetos">
        <div class="card-projeto">
          <img src="" alt="" srcset="" class="card-projeto-img">
          <h3 class="card-projeto-titulo"></h3>
          <p class="card-projeto-descricao"></p>
        </div>
        <div class="card-projeto">
          <img src="" alt="" srcset="" class="card-projeto-img">
          <h3 class="card-projeto-titulo"></h3>
          <p class="card-projeto-descricao"></p>
        </div>
        <div class="card-projeto">
          <img src="" alt="" srcset="" class="card-projeto-img">
          <h3 class="card-projeto-titulo"></h3>
          <p class="card-projeto-descricao"></p>
        </div>
      </div>
      <button>
        <a class="projetos-btn" href="http://github.com/MatheusCBarreto"><img src="../public/assets/icon-github.png" alt="github logo"> GitHub</a>
      </button>
    </section>
    <section id="conteiner-contatos">
      <h1 class="contato-titulo">Contatos</h1>
      <p class="contato-informacao">
        Caro recrutador, você pode me contactar pelos seguintes meios:
      </p>
      <div class="contato-btn">
        <button class="contato-btn-item">
          <a href="http://www.linkedin.com/in/matheusdecarvalhobarreto"><img src="../public/assets/icon-linkedin.png" alt="LinkedIn logo"> LinkedIn</a>
        </button>
      </div>
      <div class="btn-contato">
        <button class="contato-btn-item">
          <a href="mailto:devmattbarreto@protonmail.com?subject=&body="><img src="../public/assets/icon-protonmail.png" alt="protonmail logo"> ProtonMail</a>
        </button>
      </div>
      <div class="btn-contato">
        <button class="contato-btn-item">
          <a href="http://github.com/MatheusCBarreto"><img src="../public/assets/icon-whatsapp.png" alt="WhatsApp logo"> WhatsApp</a>
        </button>
      </div>
    </section>
  </main>
</body>
</html>