main,
h1,
h2,
p,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.conteiner-principal {
  background-image: url("../assets/imgs/background_Img.jpg");
  max-width: 1333px;
  max-height: 2000px;
  font-family: "Roboto" sans-serif;
  margin: 0;
}