.conteiner-header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 1px solid #dfdfe0;
}

.conteiner-header-nome {
  display: flex;
  text-align: center;
  padding: 10px 20px;
  width: 80px;
  height: 30px;
  margin-top: 5px;
}

.header-nome {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #121212;
  font-size: 25px;
  margin-left: 30px;
}

.header-navegacao {
  display: flex;
  text-align: center;
  align-items: center;
  /* margin-top: 10px; */
}

.navegacao {
  
}

.navegacao-item {
  text-decoration: none;
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #121212;
  margin: 10px;
  /* padding: 8px; */
}
