.conteiner-titulo {
  display: flex;
  height: 600px;
  margin-top: 50px;
  align-items: center;
}

.titulo-principal {
  max-width: 700px;
  height: 400px;
  margin: 0 auto;
  justify-content: center;
}

.titulo {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-size: 76px;
  word-break: keep-all;
  text-align: center;
  line-height: 1;
  color: #0F0F0F;
  text-shadow: 4px 4px 4px #424242;
}

.stacks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.stacks-item {
  margin: 30px;
}